    <section class="d-flex justify-content-center">
        <!-- <p id="prueba"></p> -->
        <div id="contenedor">
            <div class="d-flex p-2 justify-content-between">
                <h2 id="mestit">Cargando</h2>
                <p id="loadevents">Cargando eventos...</p>
                <div id="btnsfec">
                    <button class="selecfec fas fa-chevron-left" onclick="recibirdatos(-1)" title="Retroceder mes"></button>
                    <button id="hoy" class="selecfec" onclick="recibirdatos('hoy')" title="Ir a la fecha actual">Hoy</button>
                    <button class="selecfec fas fa-chevron-right" onclick="recibirdatos(+1)" title="Avanzar mes"></button>
                </div>
            </div>
            <div id="mes" class="d-flex flex-column container">
                <div id="titulos" class="d-flex flex-row row">
                    <h3 class="col">Lun</h3>
                    <h3 class="col">Mar</h3>
                    <h3 class="col">Mie</h3>
                    <h3 class="col">Jue</h3>
                    <h3 class="col">Vie</h3>
                    <h3 class="col" style="color:var(--finde)">Sab</h3>
                    <h3 class="col" style="color:var(--finde)">Dom</h3>
                </div>
                <div id="sem1" class="dias d-flex flex-row row">
                    <div class="col" onClick="rellenarmodal(this)"> 
                        <!-- <span>20</span> -->
                        <h5>0</h5>    
                    </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                </div>
                <div id="sem2" class="dias d-flex flex-row row">
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                </div>
                <div id="sem3" class="dias d-flex flex-row row">
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                </div>
                <div id="sem4" class="dias d-flex flex-row row">
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                </div>
                <div id="sem5" class="dias d-flex flex-row row">
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                </div>
                <div id="sem6" class="dias d-flex flex-row row">
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                    <div class="col"> <h5>0</h5> </div>
                </div>
                <span id="numes" class="hidden">20</span>
                <span id="numan" class="hidden">20</span>
            </div>
            <span class="fas fa-plus" onclick="createvent()"></span>
        </div>
        <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>25 Marzo 2019</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- <h4>Eventos</h4> -->
                        <p>15:30 - Abrir puerta</p>
                        <!-- meter un boton para borrar -->
                    </div>
                    <!-- <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>25 Marzo 2019</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>15:30 - Abrir puerta</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dpick" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>25 Marzo 2019</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" style="font-family: 'Lato'">
                        <form id="formevento">
                            <div id="fdtpickerdad" class="d-flex justify-content-between">
                                <p>Fecha:</p>
                                <div class="input-group date" id="datepicker" data-target-input="nearest">
                                    <input id="fdatepicker" type="text" class="form-control datetimepicker-input" data-target="#datepicker"/> 
                                    <!-- onkeydown="return false" -->
                                    <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <input id="ftimepicker" type="text" class="form-control datetimepicker-input" data-target="#timepicker"/>
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr style='margin-top: 1px; margin-bottom:1px' /> -->
                            <div id="fabrircerrar" class="d-flex flex-row bd-highlight mb-3">
                                <p>Acción: </p>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success">
                                        <input type="radio" name="options" id="option1" autocomplete="off"> Abrir
                                    </label>
                                    <label class="btn btn-outline-danger">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> Cerrar
                                    </label>
                                </div>
                            </div>
                            <div id="fceldas" class="d-flex flex-row bd-highlight mb-3">
                                <p>Celdas:</p>
                                <input id="fceldasinput" class="form-control" type="text" placeholder="65412, 68712, ...">
                            </div>
                            <div>
                                <p>Descripción:</p>
                                <textarea class="form-control" id="ftextarea" rows="3"></textarea>
                            </div>
                            <button onclick="crearevento()" type="button" class="btn btn-outline-success" style="margin-top: 10px">Crear</button>
                        </form>
                        <script type="text/javascript">
                            $(function () {
                                var now=new Date();
                                $('#datepicker').datetimepicker({
                                    locale: 'es',
                                    format: 'L',
                                    icons: {
                                        time: "fa fa-clock-o",
                                        date: "fa fa-calendar",
                                        up: "fa fa-arrow-up",
                                        down: "fa fa-arrow-down",
                                    },
                                    minDate: now
                                });
                                // $('#timepicker').datetimepicker({
                                //     useCurrent: false
                                // });
                                $("#datepicker").on("change.datetimepicker", function (e) {
                                    $('#timepicker').datetimepicker('minDate', e.date);
                                });
                                $('#timepicker').datetimepicker({
                                    locale: 'es',
                                    format: 'LT',
                                    // minDate: now
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Borrar evento
                    </div>
                    <div class="modal-body">
                        ¿Esta seguro que desea borrar este evento?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger btn-ok" style="color:white; cursor: pointer">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>