<body>
        <!-- https://help.blackboard.com/sites/default/files/images/2018-01/ultra_admin_profile.png -->
    <section id="sect" class="container rounded">
        <article id="banner" class="d-flex flex-column align-items-center rounded-top">
            <div class="image-parent">
                <img id="usr" alt="Imagen del usuario" class="img-fluid img-circle img-responsive z-depth-1 img-thumbnail" src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1">
            </div>
            <h3 id="nombre">Cargando</h3>
            <p id="prevs">Cargando</p>
        </article>
        <article id="info" class="d-flex d-flex justify-content-center flex-wrap">
            <div id="izq" class="infoh">
                <h5>Información personal</h5>
                <div class="border border-secondary">
                    <div class="d-flex justify-content-start">
                        <p>Nombre:</p>
                        <p id="nom">Nombre completo</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p>Email:</p>
                        <p id="mail">Email</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p>Fecha Nacimiento:</p>
                        <p id="naci" class="align-self-baseline">Fecha nacimiento</p>
                    </div>
                </div>
            </div>
            <div id="der" class="infoh">
                <h5>Datos de usuario</h5>
                <div class="border border-secondary">
                    <div class="d-flex justify-content-start">
                        <p>Usuario:</p>
                        <p id="nusr" class="align-self-baseline">Nombre usuario</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p>Fecha alta:</p>
                        <p id="fec">Fecha alta</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p>Roles:</p>
                        <p id="rol">Rol</p>
                    </div>
                </div>
                
            </div>
        </article>
    </section>