html{
    --grisdia: rgb(146, 146, 146);
    --finde: rgb(148, 148, 148);
    --otromes: rgb(209, 208, 208);
}
section{
    background-color: rgb(199, 199, 199);
}


/* El div del calendario */
#contenedor{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.54);
}

/* Titulos */
#titulos{
    background-color: rgb(238, 238, 238);
    border-top: 1px solid var(--otromes);
    border-right: 1px solid var(--otromes);
    border-left: 1px solid var(--otromes);
    border-radius:3px 3px 0px 0px;
}
#titulos h3{
    padding: 0;
    text-align: center;
    /* min-width: 100px; */
    font-size: 20px;
}

/* Celdas de los dias */
.dias .col{
    width: 100px;
    /* height: 100px; */
    /* min-width: 100px;
    min-height: 100px; */
    margin: -0.5px;
    padding: 0;
    border: 1px solid var(--otromes);
    /* cambiar color del border */
}
.col:hover > h5{
    color:white;
    background-color: var(--grisdia);
}
#sem6 .col:first-of-type{
    border-radius:0px 0px 0px 3px;
}
#sem6 .col:last-of-type{
    border-radius:0px 0px 3px 0px;
}

/* Numero del dia */
h5, .col span{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    font-family: 'Lato';
    font-size: 1rem;
    text-align: center;
    /* border: px solid red; */
    border-radius: 50%;
    cursor: default;
    transition: all 0.3s;
}

/* Media para version de movil */
@media only screen and (max-width: 411px){ 
    h5, .col span{
        width: 25px;
        height: 25px;
    }
}
/* Celda de hoy */
.h5today{
    color: white;
    background-color: var(--enfasi);
}
.col:hover > .h5today{
    background-color: var(--enfasi);
}
/* Celdas de los fines de semana */
.finde{
    color: var(--finde);
}
/* Celdas de otro mes */
.otromes{
    color: var(--otromes);
}
/* Margin para el primer evento */
.col span{
    top: inherit;
    right: inherit;
    bottom: 0;
    left: 0;
    color: white;
    background-color: var(--red);
}

/* Botones adelante atras y hoy */
#btnsfec{
    display: flex;
}
.selecfec{
    width: 50px;
    height: 30px;
    margin: -0.5px;
    padding: 0;
    background: none;
    color: var(--enfasi);
    border: solid 1px var(--enfasi);
    transition: all 0.3s;
}
.selecfec:focus{
    outline: none;
}
.selecfec:hover{
    background-color: #00bbd428;
}
.selecfec:nth-of-type(1){
    border-radius:3px 0px 0px 3px;
}
.selecfec:nth-of-type(3){
    border-radius:0px 3px 3px 0px;
}
.selecfechoy{
    background-color: #00bbd428;
}

/* Lista de eventos de un dia */
#mostrarmodal div div .modal-body p{
    width: fit-content;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
#mostrarmodal div div .modal-body div{
    display: flex;
}
#mostrarmodal div div .modal-body div button{
    margin-left: auto;
}
#mostrarmodal, #modal2 div div .modal-header p{
    font-family: 'Lato';
}
.close:hover{
    color: var(--danger);
}

/* Descripción del evento */
#modal2 div div .modal-body div{
    display: flex;
}
#modal2 div div .modal-body div p, #modal2 div div .modal-body p{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Boton crear evento */
.fa-plus{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 50px;
    /* bottom: 0;
    right: 0; */
    margin-left: auto;
    margin-top: -60px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: var(--danger);
    color: white;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.19, 0.92, 0.17, 2.68);
}
.fa-plus:hover{
    transform: scale(1.1);
}
.fa-plus:active{
    transform: scale(1.2);
}

/* Creación del evento */
#fabrircerrar{
    margin-top: 20px;
}
.input-group{
    width: 40%;
}
#fdtpickerdad p, #fabrircerrar p, #fceldas p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}
#fabrircerrar p, #fceldas p{
    margin-right: 4%;
}

/* Esto es preferible que esté al final. Es para saber el mes actual */
.hidden{
    display: none;
}
  