@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html {
    --backgorundContent: white;
    --keys: gold;
    --jeyOpen: #28a745;
    --keyClose: #dc3545;
    --borders: white;
    --font: Nunito;
}

.openCeldaButton {
    color: var(--jeyOpen);
}

.closeCeldaButton {
    color: var(--keyClose);
}

body, html {
    background-color: gainsboro;
    font-style: var(--font);
}

.body-container {
    display: flex;
    justify-content: space-between;
}

.zonas-container, .celldas-container {
    margin-top:2vh;
    margin-bottom: 2vh;
}

.alert {
    margin: 0;
}

.zonas-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--backgorundContent);
    justify-content: center;
    align-items: center;
    transition: 0.8s ease-out;
    overflow: hidden;
    border-radius: 2vh;
    padding: 2vh;
    width: 100%;
    align-content: start;
}

.dosZonas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.status-box {
    width: 24vh;
    height: 24vh;
    max-width: 26vh;
    max-height: 26vh;
    overflow: initial;
    cursor: pointer;
    margin: 1vh;
    border-radius: 6vh;
}

.status-box:hover > .status-presentacion-box {
    height: 0vh;
    visibility: hidden;
}

.status-box:hover > .status-info-box {
    visibility: visible;
    height: 100%;
}

.status-info-box, .status-presentacion-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.4s ease-out;
    min-width: 100%;
    font-size: 2.4vh;
    padding: 0.2vh;
    visibility: visible;
    border-radius: 4vh;
}

.status-presentacion-box {
    height: 100%;
}

.status-info-box {
    height: 0;
    visibility: hidden;
    background-color: rgb(180, 176, 176);
}

.celldas-container {    
    width: 0;
    overflow: hidden;
    background-color: var(--backgorundContent);
    transition: 0.8s ease-out;
    border-radius: 2vh;
}

#botones {
    display: flex;
    flex-direction: row;
    margin-left: 2vh;
    margin-top: 2vh;
}

#botones > * {
    font-size: 6vh;
    margin-right: 1vh;
    cursor: pointer;
}


#celdas {
    margin: 2vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    align-items: center;
}

.dobleCelda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.celda {
    display: flex;
    flex-direction: column;
    font-size: 6vh;
    margin: 2vh;
    text-align: center;
    cursor: pointer;
    padding: 0.2vh;
}

.celda i {
    font-size: 9vh;
}

.celda p {
    font-size: 2.4vh;
    text-align: center;
    min-width: 100%;
    margin-bottom: 0;
}

/*popup*/
.infoHeader {
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 2vh;
    overflow: auto;
    min-width: calc(100% - 14vh);
}

.popFooter {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2vh;
}

.popBotones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 5.4vh;
    min-width: 12vh;
    min-height: 4vh;
    min-width: 4vh;
    margin-left: 1vh;
    cursor: pointer;
}

.reclusos {
    margin-top: 2vh;
    height: 40%;
}

.close-Button {
    color: black;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.8vh;
}

.close-button {
    cursor: pointer;
}

.header-recluso {
    display: flex;
    flex-direction: row;
    min-width: 100%
}

#numColumnaRecluso {
    min-width: 16%;
    text-align: center;
}

#nombreColumnaRecluso {
    min-width: 44%;
    text-align: center;
}

#fechaAsignacionColumnaRecluso {
    min-width: 40%;
    text-align: center;
}

.filaReclusos {
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.numeroRecluso {
    min-width: 16%;
    text-align: center;
}

.reclusoNombre {
    min-width: 44%;
    text-align: center;
}

.fechaRecluso {
    min-width: 40%;
    text-align: center;
}

.contenidoReclusos {
    border: 0.1vh solid black;
    padding: 0.2vh;
}

.modal-body {
    overflow: auto;
}
/*header*/