/* import */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800,900');

html{
    --enfasi:#00bcd4;
    --background:rgb(22, 26, 33);
    --font:Nunito;
    --keys:gold;
    --keyOpen:#28a745;
    --keyClose: #dc3545;
    --borders: white;
}

*{
    font-family: var(--font);
}

#menu{
    background-color: var(--background);
    position: fixed;
    bottom: 200;
    right: 80;
    width: 145px;
    height: 306px;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.4s;
    border: 2px solid transparent;
}

.module{
    display:flex;
    justify-content: center;
    height: 150px;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.2s;
}

#home{
    display: none;
    height: 0px;
}

#cells{
    display: none;
    height: 0px;
}

#logIn{
    display: none;
    height: 0px;
}

#logOut{
    display:none;
    height:0px;
}

#Profile{
    display:none;
    height: 0px;
}

#cellMenu{
    background-color: var(--background);
    position: fixed;
    bottom: 199;
    right: 220;
    width: 0px;
    height: 153.2px;
    display:none;
    z-index:4;
    justify-content: center;
    flex-direction: row;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.4s;
    border: 2px solid transparent;
}

#cellMenu > div {
    display: flex;
    justify-content: center;
    width:50%;
    height: 100%;
}

#cellMenu > div > i {
    color: var(--keys);
}

.drag_sector{
    padding: 10px;
    font-size: 50px;
    margin: auto 0;
    border-top: 5px solid var(--enfasi);
    border-bottom: 5px solid var(--enfasi);
    width:40%;
    display:flex;
    justify-content: center;
}

.drag_sector > span{
    color: var(--borders);
    font-weight: bold;
}

#selected_sector {
    color: black;
    background-color:white;
    width: 450px;
    height: 60px;
    position: absolute;
    top: 70;
    left: 20;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}


#drag_header{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:var(--background);
}

body{
    margin:0;
    background:url(../img/sanfranciscopsd.jpg);
}

.correct{
    background-color:var(--keyOpen);
}

.warning{
    background-color:orange;
}

.danger{
    background-color:var(--keyClose);
}



.log_status_text{
    padding: 10px;
    font-size:45px;
    border:1.5px solid black;
    padding:5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.table_log_content{
    table-layout: fixeD;
    height: 100%;
}

.enhance_status{
    height: 130px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.8s;
    padding:10px;
}

.class_line{
    width:100%;
    padding:10px;
}

#sectors{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: flex-start;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.8s;
    flex-direction: row;
    
}

.sector_module{
    border: 0.5px solid black;
    height: 450px;
    width: 50%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.8s;
    overflow:hidden;
    background: rgb(147,206,222); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );
}

#sector_constrcutor{
    display:none;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

#sector_constrcutor > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
    font-size: 200px;
    filter: opacity(0);
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 1s;
}

#sector_constrcutor > div > i {
    font-size: 125px;
}

#sector_constrcutor > div > i{
    margin-bottom: 10px;
}

#sector_constrcutor > div > h2{
    border-top:3px solid black;
    border-bottom:3px solid black;
    font-size:40px;
}

.sector_font{
    font-size: 100px;
}

#status{
    display: none;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    width: 0%;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.8s;
}

.sector_module_status{
    margin: 50px;
    height: 500px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.sector_module_status > span{
    font-size: 200px;
    margin: auto auto;
}

.fas{
    margin: auto auto;
    font-size:80px;
    color:var(--borders);
}

.fa-lock-open{
    color:var(--keyOpen) !important;
}

.fa-lock{
    color:var(--keyClose) !important;
}

.sector_empty_space{
    margin-top: 500px;
}

.content_module {
    display:none;
    background-color:white;
    flex-direction: column;
    width:95%;
}

#calendar{
    display:none;
}

.content_module > span {
    font-size:30px;
    width:100%;
    border-bottom:2px solid black;
}

#close_sector{
    position: sticky;
    top: 0;
    margin-top:30px;
    margin-right: 30px;
    cursor:pointer;
    display:none;
    filter: opacity(0);
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.8s;
    color:red;
}

#back_cell{
    position: sticky;
    top: 0;
    margin-top:30px;
    margin-right:-750px;
    cursor:pointer;
    display:none;
    filter: opacity(0);
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.8s;
}

#back > i{
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.2s;
    
}


#cell_constructor{
    padding: 25px;
    display: none;
    flex-direction: column;
    height: 90%;
    margin-top: 25px;
    margin:25px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#header_cell_constructor{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

#header_cell_constructor > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size:35px;
}

#body_cell_constructor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    font-size:35px;
}
#body_cell_constructor > h2{
    width:100%;
    height: auto;
    margin-top:50px;
    font-weight: bold;
    font-size: 50px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

#body_cell_constructor > .recluso_cell{
    width: 45%;
    height: 700px;
    border: 2px solid black;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
}

/* Aqui va el css del home */

#home_page{
    background-image: url("../img/sanfranciscopsd.jpg");
    width:100vw;
    height: 100vh;
}

#marc_home{
    width: 100%;
    height: 600px;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#marc_home > img{
    margin: 2%;
    width: 45%;
    height: 45%;
    border:10px solid black;
    
}

#marc_home > div {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 210;
    left: 390;
}

#marc_home > div > i {
    font-size: 100px;
    color: white;
}

.circle
{
    background-color: #292c2f;
    border-radius: 50%;
    width: 200px;
    height: 200px; 
}

.circle > img{
    margin: auto auto;
    height: 150px;
    width: auto;
}

#home_content{
    margin: 25px;
    background-color:#292c2f;
    width: auto;
    height: 60vh;
    border-radius: 25px;
}

#home_content > #header_home_content{
    margin: 25px;
    border-radius: 25px;
    display: fleX;
    justify-content: center;
}

#home_content > #header_home_content > h2 {
    font-size: 60px;
    color: white;
    margin-top:20px;
}

#status_home_window {
    margin: 150px auto;
    width: 700px;
    height: 500px;
    border-radius: 25px;
    background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: var(--keyOpen);
}

#status_home_sheet {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#status_home_window > #status_home_sheet > h2{
    font-size: 150px;
    font-weight: bold;
}

/* login del movil */

#notify_bar > span{
    color:red;
}

/* buttons */

#login_webpage_mobile > form > input[type=submit]{
      background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#constructor_log{
    display:none;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto auto;
    background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    width: 85%;
    height: 900px;
}

#constructor_log > div {
    width:50%;
    height: 50%;
    border:2px solid black;
}

#constructor_log > div > span {
    font-size:40px;
}

#search{
    display: flex;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 135px;
    padding: 10px;
}

#search > input[type="text"]{
    width:90%;
    border-bottom: 5px solid black;
    font-size:40px;
    margin:10px;
    padding: 10px;
}

.fa-search{
    width: 10%;
    font-size: 50px;
    position: sticky;
    top: 0;
    margin-left: 0;
    border: 2px solid black;
    z-index:5;
    height: 100%;
    color:black;
}

::placeholder {
    color: black !important;
  }

#notify_screen{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    filter:opacity(0);
}

#notify_screen > div {
    text-align: center;
}

.selected_page > span{
    color: var(--enfasi);
}

#logo_mobile_page{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 10;
    left: 400;
    width: 180px;
    height: 180px;
}

#logo_place{
    margin: auto auto;
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
}

#notify_screen_box{
    position: absolute;
    background-color:white;
    width:70%;
    left: 170;
    top:450;
    height: 250px;
    margin:auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items:center;
    border-radius:50px;
}

#notify_screen_text{
    text-align: center;
}

#notify_screen_box > #button_zone_notify > button{
    width: 200px;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
}

#nicely_transparent_but_not_touchy_screen{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    display: none;
    height: 100%;
    background-color:#292c2f6e;
    z-index:10;
}

#fake_menu_extra_height{
    width: 100%;
    height: 300px;
}