html{
    --background:rgb(22, 26, 33);
}

#menu{
    background-color: var(--background);
    position: fixed;
    bottom: 60;
    right: 30;
    width: 60px;
    height: 120px;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.4s;
    border: 2px solid transparent;
}

.module{
    display:flex;
    justify-content: center;
    height: 50px;
    transition: cubic-bezier(0.82, 0.01, 0.13, 0.99) 0.2s;
}

.module > i{
    font-size:32px;
    color: white;
}

#cellMenu{
   display:none;
}


#Profile{
    display:none;
    height: 0px;
}

#calendar{
    display:none;
}

#home{
    display: none;
    height: 0px;
}

#cells{
    display: none;
    height: 0px;
}

#logIn{
    display: none;
    height: 0px;
}

#logOut{
    display:none;
    height:0px;
}