@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,800&display=swap');

html{
    --enfasi:#00bcd4;
    --background:rgb(22, 26, 33);
    --tamanyosNavVar: 34vh;
}

html, body {
    min-width: 100%;
    font-family: 'Raleway';
}

/*navbar*/
/*logo*/
#logo {
    font-size: 4.2vh;
    font-weight: 200;
    text-transform: UPPERCASE;
    color: white;
}
#logo span{
    color:var(--enfasi);
}
.navbar {
    background-color: var(--background);
    align-content: center;
}

.logo-modulo {
    color: white; 
    font-size: 4.4vh;
    padding: 1vh;
}

.nombre-modulo {
    margin-bottom: -1.4vh;
    max-width: 0;
    display: inline-block;
    overflow: hidden;

    padding-right: 0.4vh;
    font-size: 4.2vh;
    color: white;
    transition: 1s;

    visibility: hidden;
    white-space: pre; /*https://uniwebsidad.com/libros/referencia-css2/white-space*/
}

.nav-link:hover> .nombre-modulo {
    max-width: var(--tamanyosNavVar);
    visibility: visible;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

@media (max-width: 991px) {
    .nombre-modulo{
        max-width: 34vh;
        visibility: visible;
    }
}

#button-icon-nav {
    border: 0.1vh white solid;
    color: white;
}

/*fin navbar*/