@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html {
    --backgorundContent: white;
    --keys: gold;
    --jeyOpen: #28a745;
    --keyClose: #dc3545;
    --borders: 0.4vh;
    --font: Nunito;
}

body, html {
    background-color: gainsboro;
    font-style: var(--font);
}

.body-container {
    display: flex;
    justify-content: space-between;
}

.zonas-container, .logs-container {
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-color: var(--backgorundContent);
    overflow: hidden;
    transition: 0.8s ease-out;
    border-radius: 2vh;
}

/*zonas*/
.zonas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vh;
    align-content: start;
}

.dosZonas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.status-box {
    width: 24vh;
    height: 24vh;
    max-width: 26vh;
    max-height: 26vh;
    overflow: initial;
    cursor: pointer;
    margin: 1vh;
    border-radius: 6vh;
}

.status-box:hover > .status-presentacion-box {
    height: 0vh;
    visibility: hidden;
}

.status-box:hover > .status-info-box {
    visibility: visible;
    height: 100%;
}

.status-info-box, .status-presentacion-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.4s ease-out;
    min-width: 100%;
    font-size: 2.4vh;
    padding: 0.2vh;
    visibility: visible;
    border-radius: 4vh;
}

.status-presentacion-box {
    height: 100%;
}

.status-info-box {
    height: 0;
    visibility: hidden;
    background-color: rgb(180, 176, 176);
}
/*fin zonas*/

/*logs*/
.logs-container {
    width: 0;
    overflow: hidden;
}

.titleLog {
    display: inline-block;
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.logs-movimientos, .logs-asignacion, .logs-puertas {
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.log-box {
    border: 0.1vh solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4vh;
    border-radius: var(--borders);
    cursor: context-menu;
}

.log-header {
    padding: 0.4vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.log-body {
    max-height: 0;
    overflow: hidden;
    transition: 1.4s ease-out;
    display: flex;
    flex-direction: column;
    padding-left: 0.4vh;
    padding-right: 0.4vh;
}

.log-box:hover > .log-body {
    max-height: 30vh;
}


/*fin logs*/