/* etiquetas */
    body{
        background-color: rgb(199, 199, 199);
    }
    section{
        margin-top: 50px;
        background-color: white;
    }
    h3{
        margin-bottom: 0;
    }

    #sect{
        padding-left: 0;
        padding-right: 0;
    }

/* Banner */
    #banner{
        height: 150px;
        background-image: url("../img/sanfranciscopsdblur.jpg");
        background-position: center;
        background-size: cover;
    }
    .image-parent{
        margin-top: 100px;
    }
    #usr{
        width: 100px;
    }
    .img-thumbnail{
        border-radius: 50%;
    }

/* Info */
    #info{
        margin-top: 150px;
    }
    .infoh{
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: 10px;
    }
    .border{
        padding: 20px;
    }
    .infoh div p:first-of-type{
        width: 150px;
        font-weight: bold;
    }
    .infoh div div:last-of-type p{
        margin-bottom: 0;
    }
    #der{
        margin-bottom: 20px;
    }