@media only screen and (max-width: 411px){ /* Movil normal (creo xd) */
    .leteffsub{
        margin-top: 35vh;
    }
}
@media only screen and (max-width: 700px){
    #info{
        padding: 10px;
    }
    #infotit p , #infotxt div div * {
        margin-right: 0;
    }
    .homecont{
        background-position: center;
        /* padding-top: 150px; */
    }
}
@media only screen and (max-width: 1270px){/* Solo para la foto del home */
    #infoimg{
        width: 100%;
    }
}
@media only screen and (max-width: 1100px){
    #work div:first-of-type{
        width: 100%;
        min-width: none;
        max-width: none;
    }
}

/* medias para el footer */
/* @media only screen and (max-width: 890px){
    .horalign{
        margin-bottom: 358px;
    }
} */