/* Porfavor respetemos las tabulaciónes y los bloques */
/* Autores: Alex Morales, Adrián Recio y Oriol Fornós */


/* Imports */
    @import url('https://fonts.googleapis.com/css?family=Lato');
    @import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,,800,900');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
    @import url('https://fonts.googleapis.com/css?family=Nunito:200,400,400i,600,700,800,900');

/* Declaración de variables */
html{
    --sfranciscopsd:url('../img/sanfranciscopsd.jpg');
    --enfasi:#00bcd4;
}

/* Etiquetas normales */
    body{
        margin: 0;
        font-family: 'Lato', sans-serif;
        margin-top: 0px;
        width: auto;
    }
    section{
        margin-top: -340px;
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.40);
    }

/* Menú y similares */
    #hmenu{
        text-align: center;
        margin-top: 0;
        color: white;
    }
    #logo{
        visibility: hidden;
        width: 80px;
        margin-top: 10px;
        margin-left: 10px;
        transition: 0.3s;
    }
    #menu{
        display: flex;
        position: sticky;
        justify-content: flex-end;
        top:0;
        background-color: transparent;
        width: 90%;
        height: 100px;
        margin: auto;
        margin-top: 50px;
        /* margin-top: 20px; */
        transition: 0.3s;
        z-index: 9;
    }
    /* BORRAR TODO ESTO */
    /* #menu button{
        font-family: 'Raleway', sans-serif;
        background: none;
        border: solid 0px var(--enfasi);
        border-radius: 2px;
        text-transform: uppercase;
        color: var(--enfasi);
        font-size: 15px;
        font-weight: 500;
        line-height: -10px;
        width: 110px;
        height: 50px;
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    #menu button span{
        margin-top: -10px;
        font-size: 0px;
    } */

/* Redes sociales */
    #social{
        position: absolute;
        display: flex;
        top: 10px;
        /* width: 250px; */
        width: 110px;
        right: 5px;
        color: white;
        
    }
    #social p{
        margin: 0;
    }
    #social a{
        margin-left: 20px;
    }

/* Información */
    #info{ /* Contenedor padre (article) */
        font-family: 'Nunito';
        background-color: white;
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        padding: 90px;
        text-align: justify;
    }
    #infoimg{
        background: url('http://2.bp.blogspot.com/-yQgwIv4DYeY/U1bHHuem0qI/AAAAAAAAAJ0/zWeC6ouIqDY/s1600/795px-Alcatraz_Plan_1867.jpg') no-repeat;
        background-position: center;
        width: 53%;
        min-width: 300px;
        min-height: 300px;
    }
    #infotit{
        display: block !important;
    }
    #infotit h2{
        font-size: 40px;
        margin: 0;
    }
    #infotit p{
        margin-right: 30px;
    }
    #infotxt{ /* Contenedor hijo (div) */
        max-width: 500px;
    }
    #infotxt div{ /* Contenedor cada linea de texto e icono */
        display: flex;
        justify-content: center;
    }
    #infotxt div div{ /* Contenedor solo texto */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #infotxt div div *{ /* Contenido del div de texto */
        margin: 0;
        margin-right: 30px;
    }
    #infotxt div .far{ /* Icono */
        display: flex;
        color: var(--enfasi);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-left: 20px; */
        margin-right: 20px;
        width: 64px;
        height: 64px;
        min-width: 64px;
        min-height: 64px;
        font-size: 24px;
        border: 2px solid var(--enfasi);
        border-radius: 50%;
    }

/* Numeros */
    #numstit{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    }
    #numstit h2{
        margin: 0;
    }
    #nums{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .numvis{
        filter: opacity(0);
        margin-top: 100px;
        transition: ease-out 1s;
    }
    #nums div *{
        text-align: center;
    }
    #nums div h2{ /* Numeros */
        color: var(--enfasi);
        font-size: 45px;
        margin: 0;
    }

/* Parallax y contenido de estos */
    .image {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* La foto necesita reconocimiento al autor, cualquier cosa el link es este: 
            https://es.wikipedia.org/wiki/Isla_de_Alcatraz#/media/File:Alcatraz_Island_as_seen_from_the_East.jpg
        */
        background: url('../img/Alcatraz4K.jpg') no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 500px;
        /* filter: grayscale(100%); */
    }

/* HOME */
    .fab{
        text-decoration: none;
        color: white;
        transition: 0.3s;
    }
    .fa-pinterest:hover{
        color: #cb2027;
        cursor: pointer;
        transform: scale(1.2);
        /* box-shadow: 0px 0px 11px 1px white; No va*/
    }
    .fa-twitter:hover{
        color: #00aced;
        cursor: pointer;
        transform: scale(1.2);
        /* box-shadow: 0px 0px 11px 1px white; */
    }
    .fa-facebook-f:hover{
        color: #3B5998;
        cursor: pointer;
        transform: scale(1.2);
        /* box-shadow: 0px 0px 11px 1px white; */
    }
    #top{
        width: 50%;
        margin-top: 0;
        margin-left: 20px;
        font-size: 50px;
        /* mix-blend-mode: difference; En pruebas aun */
    }
    #bottom{
        margin-left: 20px;
        margin-top: -40px;
    }
    .leteffcont{
        /* position: absolute; */
        /* -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
        /* background:  rgb(233, 233, 233);
        background-size: 400% 400%; */

        /* -webkit-animation: gradient 30s ease infinite;
        -moz-animation: gradient 30s ease infinite;
        animation: gradient 30s ease infinite;
        
        left: 50%; */
        /* top: 50%; */
        /* margin: auto; */
        /* padding-top: 300px;
        height: 400px; */
        /* width: 50%; */
        margin: auto;
        margin-top: 0;
    }
    .letefftitmen span{
        color: var(--enfasi);
    }
    .letefftit{
        position: absolute;
        margin: auto;
        display: flex;
        justify-content: center;
        top: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        color: white;
        font-size: 12vw;
        margin-top: 30vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        line-height: 90px;
        letter-spacing: -2px;
        text-transform: uppercase;
        transition: cubic-bezier(0.27, 0.3, 0, 0.9) 0.5s;
    }
    .letefftitmen{
        position: sticky;
        top: 0;
        height: 25px;
        font-family: 'Raleway', sans-serif;
        /* font-weight: 800;  Este me mola que no esté*/
        color: black;
        font-size: 25px;
        margin-left: 20px;
        margin-top: 0px;
        line-height: 80px;
        letter-spacing: -2px;
        text-transform: uppercase;
        z-index: 10;
        transition: cubic-bezier(0.4, 0.41, 0, 0.99) 0.5s;
    }
    .leteffsub{
        display: block;
        margin-left: 50px;
        font-size: 2vh;
        /* margin-top: 30px; */
        /* text-align: center; */
        text-transform: uppercase;
        text-align: justify;
        color: white;
        transition: 0.3s;
        /* padding-top: 10px; */
    }
    .homecont{
        display: flex;
        /* background:  rgb(233, 233, 233); */
        background: var(--sfranciscopsd) no-repeat fixed;
        background-size: 120%;
        /* background-position: center; */
        padding-top: 38vh;
        transition: 0.1s;
        /* height: ; */
    }
    .centerbutt{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Boton menu */
    .btnmen{
        filter: opacity(0);
        font-family: 'Raleway', sans-serif;
        align-items: center;
        display: flex;
        background-color: transparent;
        width: 150px;
        height: 70px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        border-radius: 6px;
        transition: all 0.5s cubic-bezier(0.49, 0.93, 0.55, 1);
        cursor: pointer;
    }
    .btnmen *{
        transition: all 0.5s cubic-bezier(0.49, 0.93, 0.55, 1);
    }
    .btnmen p{
        font-size: 15px;
        margin-left: 5px;
    }
    .btntit:hover{
        background: white;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    }
    .btnmen:hover > p{
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
    }
    .btnmen:hover > #arrow{
        margin-left: 25px;
    }
    .btnmen:hover > #redo{
        margin-left: -25px;
    }
    #redo{
        width: 30px;
        margin-left: -5px;
    }
    #arrow{
        width: 30px;
    }
    /* Boton subtitulo */
    .btntit{
        background: #404040;
        color: #ffffff !important;
        filter: opacity(1);
    }
    /* Esto igual no sirve... */
    #homeimg{
        width: 30vw;
        margin-left: 80px;
        margin-top: -50px;
    }
    #homeimg img{
        width: 100%;
    }

/* Tarjetas */
    .horalign{
        /* height: 500px; */
    }
    .card{
        visibility: hidden;
        filter: opacity(0);
        font-family: 'Lato', sans-serif;
        width: 300px;
        height: 400px;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_5.png');
        background-size: cover;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 80px;
        color: black;
        border-radius: 3px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        transition: filter 1s, margin-top 1s;
    }
    .card:nth-of-type(1){
        background: url('../img/alcatrazpsd.jpg');
        background-size: cover;
    }
    .card:nth-of-type(2){
        background: url('../img/blancoynegro.jpg');
        background-size: cover;
    }
    .card:nth-of-type(3){
        background: url('https://usareisetipps.com/wp-content/uploads/alcatraz-hauptgebaeude.jpg');
        background-size: cover;
    }
    .card div{
        background-color: rgba(255, 255, 255, 0.9);
        height: 65%;
        padding: 20px;
        margin-top: 100px;
        border-radius: 0px 0px 3px 3px;
        transition: 0.5s;
    }
    .card div h1{
        /* font-family: "Montserrat"; */
        text-align: center;
        margin: 0;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_5.png');
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 900;
    }
    .card div:hover{
        background-color: rgba(255, 255, 255, 0.4);
    }
    .card:nth-of-type(1) div h1{
        background: url('../img/alcatrazpsd.jpg');
        background-size: 400px;
        background-position: -40px -130px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    .card:nth-of-type(2) div h1{
        background: url('../img/blancoynegro.jpg');
        background-size: 440px;
        background-position: -23px -120px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    .card:nth-of-type(3) div h1{
        background: url('../img/celdas.jpg');
        background-size: 707px;
        background-position: -19px -120px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-color: red;
        background-blend-mode: screen;
    }
    .card div p:first-of-type{
        text-align: center;
    }

/* Trabaja con nosotros */
    #work{
        display: flex;
        flex-wrap: wrap;
        /* color: white; */
    }
    #work div:first-of-type{
        transition: 0.3s;
        flex-shrink: 5;
        flex-grow: 1;
    }
    #work div:first-of-type img{
        width: 100%;
        height: 100%;
    }
    #work div:last-of-type{
        display: flex;
        margin: auto;
        background-color: white;
        min-width: 350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        flex-shrink: 5;
        flex-grow: 5;
        margin-top: 0;
        margin-bottom: 0;
    }
    #work div:last-of-type *{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    #work div:last-of-type h4{
        margin-top: 5px;
    }
    #work div:last-of-type a{
        margin-top: 30px;
        margin-bottom: 30px;
        text-decoration: none;
        padding: 15px;
        border: solid var(--enfasi) 1px;
        color: var(--enfasi);
        text-transform: uppercase;
        border-radius: .25rem;
        transition: 0.3s;
    }
    #work div:last-of-type a:hover{
        color: white;
        background-color: var(--enfasi);
    }

/* Footer */
    footer{
        position: fixed;
        bottom: 0;
        z-index: -1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-family: 'Raleway', sans-serif;
        min-height: 250px;
        color: white;
        background-color: #292c2f;
        /* box-shadow: inset 0px 5px 21px -5px rgba(0,0,0,1); */
    }
    footer div{
        margin-top: 30px;
    }
    .fleft{
        margin-left: 30px;
    }
    .fcent{
        display: flex;
        flex-direction: column;
        font-family: 'Nunito';
        font-weight: 100;
        margin-left: 30px;
    }
    .fright{
        max-width: 300px;
        font-weight: 100;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .fleft h1{
        font-weight: 100;
    }
    .fleft p{
        font-size: 15px;
        font-weight: 100;
    }
    .fleft h1 span{
        color: var(--enfasi);
    }
    .fcent a{
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 0px;
        color: var(--enfasi);
        text-decoration: none;
        transition: 0.3s;
    }
    .fcent a:hover {
        transform: scale(1.04);
    }
    .fcent a span{
        width: 38px;
        height: 38px;
        margin-right: 20px;
        font-size: 20px;
        text-align: center;
        line-height: 42px;
        border-radius: 50%;
        color: white;
        background-color: #33383b;
    }

/* Redes sociales footer */
    #fsocial{
        font-size: 20px;
        width: 100px;
        display: flex;
        justify-content: space-between;
    }

/* Animations */
    @-webkit-keyframes bounce-in {
    0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
    50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes bounce-in {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }

    @-webkit-keyframes gradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes gradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes gradient { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

/* Pruebas */
    #pruebas{
        height: 500px;
        background-color: white;
    }
    #sd{
        height: 9000px;
    }
    .scroll-down {
        opacity: 1;
        -webkit-transition: all .5s ease-in 3s;
        transition: all .5s ease-in 3s;
      }
      
      .scroll-down {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -16px;
        display: block;
        width: 32px;
        height: 32px;
        /* border: 2px solid #FFF; */
        background-size: 14px auto;
        border-radius: 50%;
        z-index: 2;
        -webkit-animation: bounce 2s infinite 2s;
        animation: bounce 2s infinite 2s;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in top 1s ease-in;
        transform: scale(1)
      }
      
      .scroll-down:before {
          position: absolute;
          top: calc(50% - 8px);
          left: calc(50% - 6px);
          transform: rotate(-45deg);
          display: block;
          width: 12px;
          height: 12px;
          content: "";
          border: 2px solid white;
          border-width: 0px 0 2px 2px;
          transition: all 0.5s ease-in;
      }
      
      @keyframes bounce {
        0%,
        100%,
        20%,
        50%,
        80% {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transform: translateY(-10px);
        }
        60% {
          -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          transform: translateY(-5px);
        }
      }



      #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        z-index: 10;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
    