@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,,800,900');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400');

html{
    --enfasi:#00bcd4;
    --sfranciscopsd:url('../img/sanfranciscopsd.jpg');
}
body{
    background-color: rgb(146, 146, 146);
}
/* menu */
#menu{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    z-index: 9;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 38px -3px;
}
.letefftitmen{
    top: 0;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 0px;
    line-height: 80px;
    letter-spacing: -2px;
    text-transform: uppercase;
    z-index: 10;
    transition: cubic-bezier(0.4, 0.41, 0, 0.99) 0.5s;
}
.letefftitmen span {
    color: var(--enfasi);
}
/* Boton menu */
.btnmen{
    font-family: 'Raleway', sans-serif;
    align-items: center;
    display: flex;
    background-color: transparent;
    width: 150px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.5s cubic-bezier(0.49, 0.93, 0.55, 1);
    cursor: pointer;
}
.btnmen *{
    transition: all 0.5s cubic-bezier(0.49, 0.93, 0.55, 1);
}
.btnmen p{
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 0;
}
.btntit:hover{
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}
.btnmen:hover > p{
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
}
.btnmen:hover > #arrow{
    margin-left: 25px;
}
.btnmen:hover > #redo{
    margin-left: -25px;
}
#redo{
    width: 30px;
    margin-left: -5px;
}
#arrow{
    width: 30px;
}


#back{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin-top: -30px;
    transition: 0.3s;
    color: white;
    cursor: pointer;
    font-size: 20px;
    /* border-radius: 50%;
    background-color: white; */
}
#back span{
    margin-top: 6px;
    margin-right: 5px;
}
#back:hover{
    margin-left: -10px;
}



.contact{
    padding: 4%;
}
.col-md-3{
    background-image: var(--sfranciscopsd);
    background-position: 40%;
    background-size: cover;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
    color: white;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    /* background: var(--enfasi);
    color: #fff; */
    font-weight: 600;
    width: 25%;
}
.btn-outline-info {
    color: var(--enfasi);
    border-color: var(--enfasi);
}
.btn-outline-info:hover{
    background-color: var(--enfasi);
}
/* .contact-form button:focus{
    box-shadow:none;
} */

/* Footer */
.fab{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.fa-pinterest:hover{
    color: #cb2027;
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: none;
    /* box-shadow: 0px 0px 11px 1px white; No va*/
}
.fa-twitter:hover{
    color: #00aced;
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: none;
    /* box-shadow: 0px 0px 11px 1px white; */
}
.fa-facebook-f:hover{
    color: #3B5998;
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: none;
    /* box-shadow: 0px 0px 11px 1px white; */
}
footer{
    bottom: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    min-height: 250px;
    color: white;
    background-color: #292c2f;
    /* box-shadow: inset 0px 5px 21px -5px rgba(0,0,0,1); */
}
footer div{
    margin-top: 30px;
}
.fleft{
    margin-left: 30px;
}
.fcent{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
    font-weight: 100;
    margin-left: 30px;
}
.fright{
    max-width: 300px;
    font-weight: 100;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.fleft h1{
    font-weight: 100;
}
.fleft p{
    font-size: 15px;
    font-weight: 100;
}
.fleft h1 span{
    color: var(--enfasi);
}
.fcent a{
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 0px;
    color: var(--enfasi);
    text-decoration: none;
    transition: 0.3s;
}
.fcent a:hover {
    transform: scale(1.04);
}
.fcent a span{
    width: 38px;
    height: 38px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    color: white;
    background-color: #33383b;
}

/* Redes sociales */
#social{
    position: absolute;
    display: flex;
    top: 10px;
    /* width: 250px; */
    width: 110px;
    right: 5px;
    color: white;
    
}
#social p{
    margin: 0;
}
#social a{
    margin-left: 20px;
}
/* Redes sociales footer */
#fsocial{
    font-size: 20px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
