@media only screen and (max-width: 411px){ /* Movil normal (creo xd) */
    .leteffsub{
        margin-top: 20vh;
    }
}
@media only screen and (max-width: 700px){
    #info{
        padding: 10px;
    }
    #infotit p , #infotxt div div * {
        margin-right: 0;
    }
    .homecont{
        background-position: center;
        /* padding-top: 150px; */
    }
}
@media only screen and (max-width: 1270px){/* Solo para la foto del home */
    #infoimg{
        width: 100%;
    }
}