/* Porfavor respetemos las tabulaciónes y los bloques */
/* Autores: Alex Morales, Adrián Recio y Oriol Fornós */


/* Imports */
    @import url('https://fonts.googleapis.com/css?family=Lato');
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,,800,900');

/* Etiquetas normales */
    body{
        margin: 0;
        font-family: 'Lato', sans-serif;
        margin-top: 0px;
        width: fit-content;
    }
    section{
        margin-top: -150px;
    }

/* Menú y similares */
    #menu{
        position: sticky;
        top:0;
        background-color: transparent;
        width: 90%;
        height: 100px;
        margin: auto;
        margin-top: 50px;
        /* margin-top: 20px; */
        transition: 0.3s;
        z-index: 9;
    }
    #hmenu{
        text-align: center;
        margin-top: 0;
        color: white;
    }
    #logo{
        width: 80px;
        margin-top: 10px;
        margin-left: 10px;
        transition: 0.3s;
    }

/* Redes sociales */
    #social{
        position: absolute;
        display: flex;
        top: 10px;
        width: 250px;
        right: 0;
        color: white;
        
    }
    #social p{
        margin: 0;
    }
    #social a{
        margin-left: 20px;
    }

/* Parallax y contenido de estos */
    .image {
        background: url('../img/alcatraz.jpg') no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 500px;
        /* filter: grayscale(100%); */
    }

/* HOME */
    .horalign{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
    }
    /* .horalign *{
        -webkit-animation:bounce-in 1s ease 0s 1 normal;
        -moz-animation:bounce-in 1s ease 0s 1 normal;
        -ms-animation:bounce-in 1s ease 0s 1 normal;
        animation:bounce-in 1s ease 0s 1 normal;
    } */
    #top{
        width: 50%;
        margin-top: 0;
        margin-left: 20px;
        font-size: 50px;
        /* mix-blend-mode: difference; En pruebas aun */
    }
    #bottom{
        margin-left: 20px;
        margin-top: -40px;
    }
    .leteffcont{
        /* position: absolute; */
        /* -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
        /* background:  rgb(233, 233, 233);
        background-size: 400% 400%; */

        /* -webkit-animation: gradient 30s ease infinite;
        -moz-animation: gradient 30s ease infinite;
        animation: gradient 30s ease infinite;
        
        left: 50%; */
        /* top: 50%; */
        /* margin: auto; */
        /* padding-top: 300px;
        height: 400px; */
        /* width: 50%; */
        margin: auto;
        margin-top: 0;
    }
    .letefftit{
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        color: white;
        font-size: 12vw;
        margin-left: 50px;
        /* color: transparent;
        background: url('../img/alcatraz.jpg') no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-background-clip: text; */
        line-height: 90px;
        letter-spacing: -2px;
        text-transform: uppercase;
    }
    .leteffsub{
        display: block;
        margin-left: 50px;
        margin-top: 30px;
        /* text-align: center; */
        text-transform: uppercase;
        text-align: justify;
        color: white;
        transition: 0.3s;
        /* padding-top: 10px; */
    }
    .homecont{
        display: flex;
        /* background:  rgb(233, 233, 233); */
        background: url('https://images6.alphacoders.com/549/549228.jpg') no-repeat;
        background-size: 100%;
        /* background-position: center; */
        padding-top: 300px;
        transition: 0.1s;
        /* height: ; */
    }
    /* Esto igual no sirve... */
    #homeimg{
        width: 30vw;
        margin-left: 80px;
        margin-top: -50px;
    }
    #homeimg img{
        width: 100%;
    }

/* Animations */
    @-webkit-keyframes bounce-in {
    0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
    50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes bounce-in {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }

    @-webkit-keyframes gradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes gradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes gradient { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

/* Pruebas */
    #pruebas{
        height: 500px;
        background-color: white;
    }
    #sd{
        height: 9000px;
    }